*{
    margin:0;
    padding:0;
    font-family: 'Dancing Script', cursive;
    box-sizing: border-box;
}
.fondoPrincipal{
    position: absolute;
    width:100%;
    height:100%;
    background-image: url('/images/aircraft-4264451_1280.jpg');
    background-size: cover;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fondoBlanco{
   
   min-width: 80vw;
   min-height: 55vh;
   display: flex;
   flex-direction:row;
   justify-content:center;
   align-items: center;
   padding:5vw 0;
   margin: auto;
}
.contenedorBotones{
    background-color:rgba(255,255,255, 0.6);
    min-width:20vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    
}
.contenedorBotones>h1{
    font-size:3vw;
    padding: 1vw 0;
}
.contenedorBotones>p{
    font-size: 2.5vw;
    font-weight: bold;
}
.botones{
    padding: 1vw 0;
}
.botones>a{
    background-color:#ffff00;
    padding:1vw;
    font-size: 2vw;
    font-weight:bold;
    margin-left: 1vw;
    text-decoration: none;
    color:#000000;
    border-radius: 3px;
}
@media(max-width:500px){
    .logoCentro {
        width: 25vw;
        height: 6vh;
    }
    .contenedorBotones>h1{
        font-size:2em;
        font-weight:bold;
    }
    .contenedorBotones>p{
        font-size:2em;
    }
    .botones>a{
        font-size:2em;
    }
}