*{
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#seccion3{
    background-image: url('/images/nathan-anderson-316188-unsplash.jpg');
}
#subseccion3{
    width: 33%;
}

header{
    background-image: url('/images/nathan-anderson-316188-unsplash.jpg');
    width:100%;
    height:100%;
    background-size:cover;
}
.menuCabecera{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
}
.menuCabecera>ul{
    list-style: none;
}
.menuCabecera>ul>li{
    float:left;
    margin:1vw;
    font-size:1vw;
    font-weight: bold;
    color:#ffffff;
}
.menuCabecera>ul>li>a{
    text-decoration: none;
    color:#ffffff;
}
.contenedorLogo{
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    align-items:center;
}
.contenedorLogo>p{
    font-weight: bold;
}
.contenedorLogo>a>img{
    width:8vw;
    height:3vw;
}
.iconosRedes{
    padding:1vh 0;
}
.iconosRedes>img{
    width:2vw;
    height:2vw;
}
#home{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:10vw 0 20vw 0;
    height: 40vw;
}
#home>div{
    position: relative;
    height:40vw;
}
#home>div>h1{
    color:#ffffff;
    font-weight: bold;
    font-size:6vw;
}
#home>div>h3{
    color:#ffffff;
    font-weight: bold;
    font-size:3vw;
}
.botonDestinos{
    color:#190f53;
    text-decoration: none;
    font-weight: bold;
    background-color:#ffff00;
    font-size: 1.5vw;
    padding:1.5vw;
    font-style: oblique;
}
.contenedorBotonDestinos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
#sdestinos{
    display:flex;
    position: relative;
    flex-direction:column;
    align-items: center;
}
#primeraFilaDestinos{
   display:flex;
   position: relative;
   flex-direction:row;
}
#primeraFilaDestinos>div>img{
    width: 20vw;
    height: 15vw;
}
#primeraFilaDestinos>div{
    margin: 2vw;
    position:relative;
}
#primeraFilaDestinos>div>h2{
    text-align: center;
    font-size: 2vw;
}
#segundaFilaDestinos{
    display:flex;
    position: relative;
    flex-direction:row;
 }
 #segundaFilaDestinos>div>img{
     width: 20vw;
     height: 15vw;
 }
 #segundaFilaDestinos>div{
     margin: 2vw;
     position: relative;
 }
 #segundaFilaDestinos>div>h2{
     text-align: center;
     font-size: 2vw;
 }
 /*-------------------------------------------*/
 #terceraFilaDestinos{
    display:flex;
    position: relative;
    flex-direction:row;
 }
 #terceraFilaDestinos>div>img{
     width: 20vw;
     height: 15vw;
 }
 #terceraFilaDestinos>div{
     margin: 2vw;
     position:relative;
 }
 #terceraFilaDestinos>div>h2{
     text-align: center;
     font-size: 2vw;
 }
 #cuartaFilaDestinos{
    display:flex;
    position: relative;
    flex-direction:row;
 }
 #cuartaFilaDestinos>div>img{
     width: 20vw;
     height: 15vw;
 }
 #cuartaFilaDestinos>div{
     margin: 2vw;
     position: relative;
 }
 #cuartaFilaDestinos>div>h2{
     text-align: center;
     font-size: 2vw;
 }
 #quintaFilaDestinos{
    display:flex;
    position: relative;
    flex-direction:row;
 }
 #quintaFilaDestinos>div>img{
     width: 20vw;
     height: 15vw;
 }
 #quintaFilaDestinos>div{
     margin: 2vw;
     position: relative;
 }
 #quintaFilaDestinos>div>h2{
     text-align: center;
     font-size: 2vw;
 }
 #sextaFilaDestinos{
    display:flex;
    position: relative;
    flex-direction:row;
 }
 #sextaFilaDestinos>div>img{
     width: 20vw;
     height: 15vw;
 }
 #sextaFilaDestinos>div{
     margin: 2vw;
     position: relative;
 }
 #sextaFilaDestinos>div>h2{
     text-align: center;
     font-size: 2vw;
 }
 /*---------------------------------------------*/
 .descuento{
     background-color:#190f53;
     color:#ffffff;
     padding:1vw;
     position:absolute;
     width:90%;
     top:0;
     font-size: 1vw;
 }
 .descuento{
    background-color:#190f53;
    color:#ffffff;
    padding:1vw;
    position:absolute;
    width:90%;
    top:0;
}
.precio{
    background-color:#ffff00;
    color:#190f53;
    position:absolute;
    width:30%;
    height: 20%;
    top:0;
    right: 0;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
.precio>div{
    font-weight: bold;
    font-size: 2vh;
}

@media(max-width:770px){
    #primeraFilaDestinos{
        display:flex;
        position: relative;
        flex-direction:row;
        width:90%;
    }
    #segundaFilaDestinos{
        display:flex;
        position: relative;
        flex-direction:row;
        width:90%;
    }
    #terceraFilaDestinos{
        display:flex;
        position: relative;
        flex-direction:row;
        width:90%;
    }
    #cuartaFilaDestinos{
        display:flex;
        position: relative;
        flex-direction:row;
        width:90%;
    }
    #quintaFilaDestinos{
        display:flex;
        position: relative;
        flex-direction:row;
        width:90%;
    }
    #sextaFilaDestinos{
        display:flex;
        position: relative;
        flex-direction:row;
        width:90%;
    }
    #primeraFilaDestinos>div>img{
        width: 25vw;
        height: 20vw;
    }
    #segundaFilaDestinos>div>img{
        width: 25vw;
        height: 20vw;
    }
    
    #terceraFilaDestinos>div>img{
        width: 25vw;
        height: 20vw;
    }
    #cuartaFilaDestinos>div>img{
        width: 25vw;
        height: 20vw;
    }
    #quintaFilaDestinos>div>img{
        width: 25vw;
        height: 20vw;
    }
    #sextaFilaDestinos>div>img{
        width: 25vw;
        height: 20vw;
    }
    .descuento{
        font-size: 1vh;
    }
}
@media (max-width:700px){
   
}
@media(max-width:500px){
    .contenedorLogo>p{
        font-size: 3vw;
        margin:0;
    }
    #primeraFilaDestinos{
        display:flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction:row;
        width:80%;
    }
    #segundaFilaDestinos{
        display:flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction:row;
        width:80%;
    }
    
    #terceraFilaDestinos{
        display:flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction:row;
        width:80%;
    }
    #cuartaFilaDestinos{
        display:flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction:row;
        width:80%;
    }
    #quintaFilaDestinos{
        display:flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction:row;
        width:80%;
    }
    #sextaFilaDestinos{
        display:flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction:row;
        width:80%;
    }
    #primeraFilaDestinos>div>img{
        width: 20vw;
        height: 15vw;
    }
    #segundaFilaDestinos>div>img{
        width: 20vw;
        height: 15vw;
    }
    #terceraFilaDestinos>div>img{
        width: 20vw;
        height: 15vw;
    }
    #cuartaFilaDestinos>div>img{
        width: 20vw;
        height: 15vw;
    }
    #quintaFilaDestinos>div>img{
        width: 20vw;
        height: 15vw;
    }
    #sextaFilaDestinos>div>img{
        width: 20vw;
        height: 15vw;
    }
    .descuento{
        font-size: 0.5em;
    }
    .precio {
        width:7vw;
        height: 2.7vh;
    }
    .precio>div{
        font-weight: bold;
        font-size: 0.8em;
    }
    #primeraFilaDestinos>div>h2{
       font-weight: bold;
       font-size: 0.8em;
    }
    #segundaFilaDestinos>div>h2{
        font-weight: bold;
        font-size: 0.8em;
    }
    #terceraFilaDestinos>div>h2{
        font-weight: bold;
        font-size: 0.8em;
    }
    #cuartaFilaDestinos>div>h2{
        font-weight: bold;
        font-size: 0.8em;
    }
    #quintaFilaDestinos>div>h2{
        font-weight: bold;
        font-size: 0.8em;
    }
    #sextaFilaDestinos>div>h2{
        font-weight: bold;
        font-size: 0.8em;
    }
 
}